{{extend 'layout.html'}}

<link rel="stylesheet" type="text/css" href="{{ = URL('static/css', 'app.css') }}" />
<link href="{{ = URL('static', '/open-iconic-master/font/css/open-iconic-bootstrap.css')}}" rel="stylesheet">
<script src="{{ = URL('static','js/vue.min.js') }}"></script>
<script src="{{=URL('static', 'js/vue.js')}}"></script>

<!-- Api calls -->
<script>
    let getDataFakeNewsPanel = "{{ = URL('api', 'get_data') }}";
        // let postTweetURL = "{{ = URL('api', 'post_tweet') }}";
        // let logginTwitterURL = "{{ = URL('api', 'log_on_twitter') }}";
        // let getTweetURL = "{{ = URL('api', 'get_tweet') }}";
        // let testBtnURL = "{{ = URL('api', 'test_index_function') }}";
        // let saveDataURL = "{{ = URL('api', 'save_data') }}";
        // let markFakeURL = "{{ = URL('api', 'mark_as_fake') }}";
</script>


<!-- For the graphs -->
<script src='//unpkg.com/vue-chartjs@2.6.0/dist/vue-chartjs.full.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.js'></script>
<script src='//unpkg.com/hchs-vue-charts@1.2.8'></script>

<!-- <title>Line Chart</title> -->
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script> -->
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>


<!-- Fix style on html! -->
<!-- Search for all the style ctrl+f; and move them to css  -->



{{=request.vars}}
{{=request.data}}



<div id="index">
</div>


<!-- Own vue.js files -->
<!-- <script src=" {{ = URL('static/js', 'index_graph.js') }}"></script> -->
<script src=" {{ = URL('static/js', 'fake_news_panel.js') }}"></script>
<!-- <script src=" {{ = URL('static/js', 'index_agregated_graph.js') }}"></script> -->