{{extend 'layout.html'}}

<link rel="stylesheet" type="text/css" href="{{ = URL('static/css', 'app.css') }}" />
<link href="{{ = URL('static', '/open-iconic-master/font/css/open-iconic-bootstrap.css')}}" rel="stylesheet">
<script src="{{ = URL('static','js/vue.min.js') }}"></script>
<script src="{{=URL('static', 'js/vue.js')}}"></script>

<div id="index">
    <h1>Welcome</h1>
    <button v-on:click="action" type="button" class="btn btn-primary"> Action
    </button>
</div>


<script src=" {{ = URL('static/js', 'index.js') }}">
</script>