{{extend 'layout.html'}}

<link rel="stylesheet" type="text/css" href="{{ = URL('static/css', 'app.css') }}" />
<link href="{{ = URL('static', '/open-iconic-master/font/css/open-iconic-bootstrap.css')}}" rel="stylesheet">
<script src="{{ = URL('static','js/vue.min.js') }}"></script>
<script src="{{=URL('static', 'js/vue.js')}}"></script>


<div class="row d-flex justify-content-center">
    <h1>Torneo Dani</h1>

</div>
<div>
    <div class="d-flex justify-content-center">
        <img src="../static/images/torneo_dani.png" alt="padel_player" style="margin-right: 10px">
    </div>
</div>