{{extend 'layout.html'}}

<link rel="stylesheet" type="text/css" href="{{ = URL('static/css', 'app.css') }}" />
<link href="{{ = URL('static', '/open-iconic-master/font/css/open-iconic-bootstrap.css')}}" rel="stylesheet">
<script src="{{ = URL('static','js/vue.min.js') }}"></script>
<script src="{{=URL('static', 'js/vue.js')}}"></script>



<!-- <title>Line Chart</title> -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.js"></script>

<!-- Api calls -->
<script>
    let getTweetURL = "{{ = URL('api', 'get_tweet') }}";
    let testBtnURL = "{{ = URL('api', 'test_index_function') }}";
</script>



<!-- Remove this style from here -->
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>


<div class="container">
    <div class="own-card">
        <div class="card">
            <div>
                <canvas id="canvas"></canvas>
            </div>
        </div>
    </div>

</div>



<div id="index">


    <div class="container">
        <h2> Tweets source</h2>
        <div v-for="tweet in tweets">
            <div v-if=tweet>
                <div class="own-card">
                    <div class="card">

                        <div class="d-flex flex-row no-gutters">
                            <div class="d-flex justify-content-center align-items-start card-image">
                                <img class="own-card-img" v-bind:src="tweet.user.profile_image_url">
                            </div>

                            <div class="col-md-11">
                                <div class="card-body">
                                    <div class="card-title">
                                        <div class="d-flex flex-row">

                                            <h5>
                                                ${tweet.user.name}
                                            </h5>
                                        </div>
                                    </div>
                                    <h6 class="card-subtitle mb-2 text-muted">by @${tweet.user.screen_name}</h6>
                                    <p class="card-text">${tweet.text}</p>
                                    <a v-if="tweet.urls.length>0" class="card-link"
                                        v-bind:href="tweet.urls[0].expanded_url">link
                                        to Tweet</a>
                                    <a href="#" class="card-link">Retweets: ${tweet.retweet_count}</a>
                                    <a href="#" class="card-link">Favs: ${tweet.favorite_count}</a>
                                    <p class="card-text"><small class="text-muted">Date:
                                            ${tweet.user.created_at}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2>Retweets table</h2>


        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">number</th>
                    <th scope="col">user</th>
                    <th scope="col">id</th>
                    <th scope="col">time</th>
                </tr>
            </thead>
            <tbody>
                <template v-for='rt in retweets'>
                    <tr>
                        <th scope="row">#</th>
                        <td>${rt.user.id}</td>
                        <td>${rt.id}</td>
                        <td>${rt.created_at}</td>
                    </tr>
                </template></tbody>
        </table>


    </div>
</div>



<!-- Own vue.js files -->
<script src=" {{ = URL('static/js', 'index_cuatro.js') }}"></script>