{{extend 'layout.html'}}

<link rel="stylesheet" type="text/css" href="{{ = URL('static/css', 'app.css') }}" />
<link href="{{ = URL('static', '/open-iconic-master/font/css/open-iconic-bootstrap.css')}}" rel="stylesheet">
<script src="{{ = URL('static','js/vue.min.js') }}"></script>


{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var save_new_book_url = "{{=URL('api', 'save_new_book')}}";
    var getLoggedInUserUrl = "{{ = URL('api', 'get_logged_in_user') }}";
    var search_url = "{{=URL('api', 'search', user_signature=True, hash_vars=False)}}";

    let saveParejaURL = "{{ = URL('api', 'save_pareja') }}";
</script>
{{end}}


<div id="nueva_pareja" class="container">
    <!-- Nueva pareja form -->
    <div class="row align-items-center">
        <div class="col-md-3 ">
            <div class="">
                <img src="../static/images/padel_player_five.png" alt="padel_player" style="margin-right: 10px">
            </div>
        </div>
        <div class="col-md-6">

            <div class="">

                <form>
                    <div class="row d-flex justify-content-center" style="margin-top:40px">
                        <div class="col">
                            <!-- Jugador uno -->
                            <div class="form-group">
                                <div>
                                    <h4>Nombre jugador uno</h4>
                                </div>
                                <div>
                                    <input v-model="jugador_uno" name="p1" type="text" class="form-control"
                                        id="jugador_uno" placeholder="Nombre jugador uno" required>
                                </div>
                            </div>
                            <!-- jugador dos -->
                            <div class="form-group">
                                <div>
                                    <h4>Nombre jugador dos</h4>
                                </div>
                                <div>
                                    <input v-model="jugador_dos" name="p2" type="text" class="form-control"
                                        id="jugador_dos" placeholder="Nombre jugador dos">
                                    <small id="foot_note" class="form-text text-muted">Dejar en blanco si aún no tiene
                                        pareja.</small>
                                </div>
                            </div>


                            <!-- Restricciones -->
                            <div class="form-group">
                                <b>Notas/Restricciones jugador uno</b>
                                <div>
                                    <textarea v-model="restricciones_uno" id="restricciones_uno" class="form-control"
                                        aria-label="With textarea"
                                        placeholder="Restricciones o notas sobre el jugador uno" cols="40"
                                        rows="2"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <b>Notas/Restricciones jugador dos</b>
                                <div>
                                    <textarea v-model="restricciones_dos" id="restricciones_dos" class="form-control"
                                        aria-label="With textarea"
                                        placeholder="Restricciones o notas sobre el jugador dos" cols="40"
                                        rows="2"></textarea>
                                </div>
                            </div>

                            <!-- Grupo -->
                            <div class="form-group">
                                <b>Grupo</b>
                                <input v-model="grupo" type="number" class="form-control" id="grupo">
                            </div>
                        </div>
                    </div>
                    <div class="center" style="margin-top:30px">
                        <button v-on:click="submit" type="button" class="btn btn-primary col-4" value="">Submit</button>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-md-3">

            <img src="../static/images/padel_player.png" alt="padel_player" class="">
        </div>
    </div>
</div>


<script src="{{=URL('static', 'js/nueva_pareja.js')}}"></script>