
#index

    .own-card {
        box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
        margin-bottom: 20px;
    }

    .card-image{
        padding: 1rem;
    }
    
    .own-card-img{
        border-radius: 999px;
        /* margin-top: 10px; */
    }


#graphs

    .own-card {
        box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
        margin-bottom: 20px;
    }

.agregated-chart{
    padding: 20px;
    color: black;
}











/* Jugadores.html */
#jugadores
    .search-container{
        margin: 50px;
    }

    .search-bar{        
        margin-left: 20px;
        margin-bottom: 20px;
        padding-left: 10px;
        width: 50%;
        border: 1px solid #d4d4d4;
        border-radius: .25rem;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.17);
    }


#app_parejas
    .group_input{
        display: block;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        
    }

    .group_number_input{
        width: 60px;
        display: block;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .delete-btn{
        margin-right: 5px;
    }


#app_grupos
    .group_input{
        width: 60px;
        display: block;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        
    }


 /* grupos.html */
 .grupos_card {
     margin: 30px;
 }


 /* Partidos.html */
#app_partidos 
    .card {
        margin-top:30px;
    }

    .partidos_card {

        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        /* margin-top:30px; */
        border-radius:  .25rem;
        text-align: center;
        justify-content: center;
    }

    .partidos_input {
        width: 50px;
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
        display: block;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .group_title{
        background-color: black;
        padding: 8px;
        color:white;
        text-align: center;
    }

 
    .container_partido{
        padding: 5px;
    }

